<!--		<div class="row settings-lang">
    				<div class="column small-3 "><span style="font-weight: bold;font-size:.9rem" translate>{{vm.singleSelect}}</span></div>
					<div class="column small-3 ">-->

                        <a id="idSearchCritMenuLink">
                        <label style="color:black" class="inherit-lineheight">
                            <span dropdown-toggle="#dropdown-example-lang" id="idSearchCritMenu" class="expanded" translate>Language

                            </span><i class="fa fa-language" aria-hidden="true" style="padding-left:3px;"></i>
                        </label>
                    </a>
                        <ul id="dropdown-example-lang" class="f-dropdown right f-open-dropdown">
                        <li>
                        <a ng-click="vm.changeLanguage('En')" translate>English</a>
                        </li>
                        <li>
                        <a ng-click="vm.changeLanguage('Jp')" translate>Japanese</a>
                        </li>
                            <li>
                        <a ng-click="vm.changeLanguage('Cn')" translate>Chinese</a>
                        </li>
                    </ul>
<!--
						<select class="" style="border-radius: 4px;height:1.93rem;font-size: .7rem;"  ng-model="vm.singleSelect" ng-change="vm.changeLanguage(vm.singleSelect)" >
							<option value="en" translate="English">English</option>
							<option value="ja" translate="Japanese">Japanese</option>
							<option value="cn" translate="Chinese">Chinese</option>
						</select>
-->
<!--					</div>
		</div>
		-->
		<!-- <div class="text-right language" ng-show="cookieData.dealerCode != ''">
								<span translate="Language"></span>
								<select name="singleSelect" ng-model="home.singleSelect" ng-change="home.changeLanguage()" >
								      <option value="en" translate="English"></option>
									  <option value="ja" translate>Japanese</option>
								      <option value="fr" translate="French"></option>
								</select>
							</div> -->
