<ul class="button-group radius toggle toggle-view">
  <li>
    <input id="viewGrid" type="radio" value="grid" ng-model="vm.model" data-toggle="button">
    <label for="viewGrid" class="tiny button secondary" ng-click="vm.model = 'grid'"><i class="fa fa-th-large"></i></label>
  </li>
  <li>
    <input id="viewList" type="radio" value="list" ng-model="vm.model" data-toggle="button">
    <label for="viewList" class="tiny button secondary" ng-click="vm.model = 'list'"><i class="fa fa-align-justify"></i></label>
  </li>
</ul>
